<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>

<div th:fragment="topNavBar">
    <h1>Utility Service</h1><br>

    <ul id="ulNavbar">
        <li><a class="active" href="/useful">Useful Utilities</a>
        </li>
        <li><a href="/useful/colored">Change Background Color</a>
        </li>
        <li><a href="/useful/email">Email Validator</a>
        </li>
        <li><a href="/useful/encoder">Word Encoder</a>
        </li>
        <li><a href="/useful/decoder">Word Decoder</a>
        </li>
    </ul>
</div>
</body>
</html>