<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/add" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name"><br>

    <label for="balance">Balance</label>
    <input type="text" id="balance" name="balance"><br>

    <label for="animalType">Animal Type</label>
    <input type="text" id="animalType" name="animalType"><br>

    <label for="isKing">Is King</label>
    <input type="text" id="isKing" name="isKing"><br>

    <button type="submit">Create</button>
</form>
</body>
</html>