<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Home</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>Todos</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>