<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add new task</title>
</head>
<body>
<h1>Add new task</h1>

<form action="/todo/add" method="post">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">

    <label for="done">Done</label>
    <input type="text" id="done" name="done">

    <label for="urgent">Urgent</label>
    <input type="text" id="urgent" name="urgent">

    <button>Create</button>
</form>
</body>
</html>