<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add new assignee</title>
</head>
<body>
<h1>Add new assignee</h1>

<form action="/todo/add/assignee" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="email">Email</label>
    <input type="text" id="email" name="email">

    <button>Create</button>
</form>
</body>
</html>